@import './variables';

.create-game-container {
    .step {
        animation: show-new-step .5s;

        @keyframes show-new-step {
            from { opacity: 0; }
            to { opacity: 1; }
        }
    }
    
    .input-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: .5em;

        .remove-button {
            width: 1.5em;
            height: 1.5em;
            opacity: .8;
            transition: opacity .3s;
            margin-left: .5em;
            cursor: pointer;

            svg {
                width: 100%;
                height: 100%;

                path {
                    fill: $secondary-color;
                }
            }
            
            &:hover {
                opacity: 1;
            }
        }
    }

    .add-button {
        margin: .5em auto;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        border-radius: 50%;
        padding: .7em;
        transition: background-color .3s;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;

            path {
                fill: $secondary-color;
            }
        }

        &:hover {
            background-color: $accent-color;
        }
    }

    .fields-names {
        display: flex;

        .name {
            flex-basis: 100%;
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .words {
        display: flex;
        flex-direction: column;

        .word {
            display: flex;
            position: relative;

            input {
                flex-basis: 100%;
                margin: .5em;
                width: 5em !important;
            }

            .remove-button {
                width: 1.5em;
                height: 1.5em;
                opacity: .8;
                transition: opacity .3s;
                cursor: pointer;
                position: absolute;
                right: -1.5em;
                top: 50%;
                transform: translateY(-50%);
    
                svg {
                    width: 100%;
                    height: 100%;

                    path {
                        fill: $secondary-color;
                    }
                }
                
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
