$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$accent-color: var(--accent-color);
$border-color: var(--border-color);
$correct: var(--correct);
$wrong: var(--wrong);
$box-shadow-color: var(--box-shadow-color);

