@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;500&display=swap');
@import './variables';

body {
    margin: 0;
    background-color: $primary-color;
}

* {
    color: $secondary-color;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    transition: background-color .3s, border-color .3s, color .3s, fill .3s;
}

.app {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

button {
    background-color: $accent-color;
    color: $secondary-color;
    font-size: 1.1rem;
    padding: .5em 1em;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    transition: opacity .3s;
    margin: .5em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    
    &:hover {
        opacity: .8;
    }

    &[disabled] {
        opacity: .5 !important;
        cursor: default;
        pointer-events: none;
    }
}

h1 {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

input[type=text] {
    background-color: transparent;
    padding: .5em;
    font-size: 1.1rem;
    color: $secondary-color;
    outline: none;
    border: 1px solid $border-color;
    text-align: left;
    border-radius: .5em;
}

p {
    text-align: center;
}


@mixin light() {
    @media (prefers-color-scheme: light) {
        @at-root #{selector-nest(':root:not([data-theme=light]):not([data-theme=dark])', &)} {
            @content;
        }
    }
    @at-root #{selector-nest(':root[data-theme=light]', &)} {
        @content;
    }
}

@mixin dark() {
    @media (prefers-color-scheme: dark) {
        @at-root #{selector-nest(':root:not([data-theme=light]):not([data-theme=dark])', &)} {
            @content;
        }
    }
    @at-root #{selector-nest(':root[data-theme=dark]', &)} {
        @content;
    }
}

body {
    @include dark() {
        --primary-color: #1B262C;
        --secondary-color: #BBE1FA;
        --accent-color: #3282B8;
        --border-color: #BBE1FA;
        --correct: #44bd6c;
        --wrong: #c54a4a;
        --box-shadow-color: #00000080;
    }

    @include light() {
        --primary-color: #F4F9F9;
        --secondary-color: #414141;
        --accent-color: #A4EBF3;
        --border-color: #dbdbdb;
        --correct: #50c477;
        --wrong: #e77272;
        --box-shadow-color: #00000023;
    }
}